---
layout: layouts/base.njk
---
{% include "komponenter/brodsmulesti.njk" %}
<article class="side">
  <h1>{{ tittel }}</h1>
  {{ content | safe }}
  {%- if priser and priser.length > 0 %}
  <table class="pristabell">
    <caption class="skjult">{{ tittel }}</caption>
    <tbody>
      {%- for linje in priser %}
      <tr>
        <th scope="row">{{ linje.navn }}{% if linje.merknad %} <span class="pris-merknad">({{ linje.merknad }})</span>{% endif %}</th>
        <td class="pris-belop">{{ linje.belop_nok | kroner }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- endif %}
</article>
{% include "komponenter/jsonld.njk" %}
