---
layout: layouts/base.njk
---
{%- from "komponenter/seksjoner.njk" import seksjoner as visSeksjoner -%}
{%- from "komponenter/illustrasjon.njk" import illustrasjon as visIllustrasjon -%}
{%- from "komponenter/knapper.njk" import knapperad, bestillingsvarsel -%}

<div class="seksjon-indre">
  {% include "komponenter/brodsmulesti.njk" %}

  <div class="sidehode{{ ' sidehode-forside' if sidetype == 'forside' else '' }}{{ '' if illustrasjon else ' sidehode-enkel' }}">
    <div>
      <h1>{{ tittel }}</h1>
      {%- if ingress %}
      <p class="ingress">{{ ingress | tekst | safe }}</p>
      {%- endif %}
      {%- if hode_knapper %}{{ knapperad(hode_knapper, klinikk, collections.innhold, 'hode-handlinger', false, ui) }}{{ bestillingsvarsel(hode_knapper, klinikk, ui, 'hode-merknad') }}{% endif %}
      {%- if hode_merknad %}
      <p class="hode-merknad">{{ hode_merknad | tekst | safe }}</p>
      {%- endif %}
    </div>
    {%- if illustrasjon %}
    <div class="hodeil">{{ visIllustrasjon(illustrasjon, '') }}</div>
    {%- endif %}
  </div>

  {%- if fakta %}
  <dl class="fakta">
    {%- for punkt in fakta %}
    <div><dt>{{ punkt.term }}</dt><dd>{{ punkt.verdi }}</dd></div>
    {%- endfor %}
  </dl>
  {%- endif %}
</div>

{%- if content | trim %}
<div class="seksjon-indre sek">
  <div class="side">
{{ content | safe }}
  </div>
</div>
{%- endif %}

{%- if seksjoner %}
{{ visSeksjoner(seksjoner, klinikk, collections.innhold, ui) }}
{%- endif %}

{% include "komponenter/jsonld.njk" %}
